@media only screen and (max-width: 769px) {
		    .nav-item-button{
      display: none;
    }

    .nav-list>div:nth-child(2)>.nav-item{
    	display: none;
    }

    .burger{
    	display: block;
    	margin-right: 50px;
    	font-size: 25px;
    	color: white;
    }

    .nav-list{
    	grid-template-columns: 1fr 1fr;
    }

    .nav-list>div:nth-child(2){
    	justify-self: right;
    }



}